.game-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 2px;
  width: 100vw;
  height: 100vh;
  background-color: #121212;
  position: relative;
}

.ticker-container {
  grid-area: 2 / 1 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
