#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Color Scheme */
.color-blue {
  color: "#007BFF";
}
.color-green {
  color: "#28A745";
}
.color-orange {
  color: "#FFC107";
}
.color-red {
  color: "#DC3545";
}
.color-purple {
  color: "#6F42C1";
}
.color-cyan {
  color: "#17A2B8";
}
.color-pink {
  color: "#E83E8C";
}
.color-yellow {
  color: "#FFD400";
}
